@model CRAutos_App.ETL.DatosVehiculo

@{
    ViewBag.Title = "ProcesoVehiculo";
}


<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Registro de cuenta</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Registro </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-4">
            <div class="row align-form-map">
                <div class="col-lg-6 contact-left pr-lg-4">
                    <div class="partners">
                        <div class="cont-details">
                            <div class="title-content text-left">
                                <h3 class="hny-title">Registro de Vehiculo.</h3>
                            </div>
                            <p class="mt-3 mb-4 pr-lg-5">
                                En esta seccion de la pagina podra ingresar los datos obligatorios que se necesitan para registrar el vehiculo en CRautos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 form-inner-cont">
                    <div class="title-content text-left">
                        <h3 class="hny-title mb-lg-5 mb-4"></h3>
                    </div>
                    <h6 class="mb-4"> Información del vehiculo.</h6>
                    @using (Html.BeginForm("ProcesoVehiculo", "Publicaciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row con-two">

                            @Html.TextBoxFor(Model => Model.Matricula, new { placeholder = "Matricula" })

                            @Html.Label("Kilometraje", new { @class = "col-lg-6 form-input" })
                            @Html.TextBoxFor(Model => Model.Kilometraje)

                            @Html.TextBoxFor(Model => Model.Cilindraje, new { placeholder = "Cilindraje", @class = "col-lg-6 form-input" })

                            @Html.TextBoxFor(Model => Model.Transmision, new { placeholder = "Transmision", @class = "col-lg-6 form-input" })

                            @Html.TextBoxFor(Model => Model.Color, new { placeholder = "Color del vehiculo" })

                            @Html.Label("Numero de puertas", new { @class = "col-lg-6 form-input" })
                            @Html.TextBoxFor(Model => Model.NumeroPuertas)

                            @Html.Label("Año de fabricacion", new { @class = "col-lg-6 form-input" })
                            @Html.TextBoxFor(Model => Model.Año)

                            @Html.TextBoxFor(Model => Model.Combustible, new { placeholder = "Tipo de combustible" })

                            @Html.Label("Nombre de la marca", new { @class = "col-lg-6 form-input" })

                            @Html.DropDownListFor(Model => Model.IDMarca, Model.listaMarcas, htmlAttributes: new { @class = "form-control" })
                            <br />
                            <br />
                            @Html.TextBoxFor(Tuple => Tuple.TipoModelo, new { placeholder = "Tipo modelo del vehiculo" })

                        </div>
                        <div>
                            @Html.Label("Ingrese la foto", new { @class = "col-lg-6 form-input" })
                            <input type="file" name="ImageFile" />
                        </div>
                        <h6 class="mb-4"> Datos para la publicación.</h6>
                        <div class="row con-two">
                            @Html.TextBoxFor(Model => Model.TituloPublicacion, new { placeholder = "Titulo de la publicacion", @class = "col-lg-6 form-input" })

                            @Html.TextBoxFor(Model => Model.Descripcion, new { placeholder = "Descripcion", @class = "col-lg-6 form-input" })

                            @Html.TextBoxFor(Model => Model.Ubicacion, new { placeholder = "Ubicacion de donde se encuetra el vehiculo" })

                            @Html.Label("Precio del vehiculo", new { @class = "col-lg-6 form-input" })
                            @Html.TextBoxFor(Model => Model.Precio)

                            @Html.Label("Ingrese la foto de portada", new { @class = "col-lg-6 form-input" })
                            <input type="file" name="ImagePortada" />

                            @Html.Label("Condicion del vehiculo", new { @class = "col-lg-6 form-input" })

                            @Html.DropDownListFor(Model => Model.IDCondicion, Model.listaCondicion, htmlAttributes: new { @class = "form-control" })
                            <br />
                            <br />
                            @Html.DropDownListFor(Model => Model.IDEstatus, Model.listaEstatus, htmlAttributes: new { @class = "form-control" });
                            <br />
                            <br />
                            <div class="submit-button text-lg-right">
                                <button type="submit" class="btn btn-style">Registrar Publicacion</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>
<!-- //contact-form -->
<!-- Template JavaScript -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>

